<ul class = "flex-main">
  <li class="flex-info">
    <h1>This page will let you edit the details for a purchase</h1>
    <h2>Just make your changes over there on the right and then click 'change'</h2>
  </li>

  <li class="flex-actions">
    <form action="/purchases/<%=@purchase.id%>" method="post">
      <p>
      <label>
        Payee:
        <select name="merchant_id" selected= "<%= @purchase.merchant.name%>">
          <% for merchant in @merchants %>
            <% if merchant.name == @purchase.merchant.name %>
                <option value=<%= merchant.id %> selected><%= @purchase.merchant.name %></option>
            <% else %>
                <option value=<%= merchant.id %>><%= @purchase.merchant.name%> </option>
            <% end %>
          <% end %>
        </select>
      </label>
      <p>
      <label>
        Category:
        <select name="tag_id" selected= "<%= @purchase.tag.type%>">
          <% for tag in @tags %>
            <% if tag.type == @purchase.tag.type %>
                <option value=<%= tag.id %> selected><%= @purchase.tag.type %></option>
            <% else %>
                <option value=<%= tag.id %>><%= @purchase.tag.type%></option>
            <% end %>
          <% end %>
        </select>
      </label>
      <p>
      <label for="amount">Amount:</label>
        <input type="text" name="amount" id="purchase.amount" value="<%= @purchase.amount %>"/>
        <p>
        <input type="submit" value="change" class="submit"/>
    </form>
  </li>
</ul>
