<ul class = "flex-main">
  <li class="flex-info">
    <h1>Purchases</h1>
      <table>
        <tr>
          <th>Payment No.</th>
          <th>Merchant</th>
          <th>Tag</th>
          <th>Amount</th>
          <th>Purchase Date</th>
        </tr>
        <% for purchase in @purchases %>
        <tr>
          <td><%= purchase.id %></td>
          <td><%= purchase.merchant.name_to_title_case %></td>
          <td><%= purchase.tag.type_to_title_case %></td>
          <td><a href="/purchases/<%= purchase.id %>">£<%= purchase.amount %></a></td>
          <td><%= purchase.purchase_date %></td>
        </tr>
        <% end %>
      </table>
  </li>

  <li class="flex-actions">
    <table>
      <tr>
        <td>Your budget:</td>
        <td>£<%= @user.budget %></td>
      </tr>
      <tr>
        <td>You have spent:</td>
        <td>£<%= Purchase.sum_all %></td>
      </tr>
      <tr>
        <td>You now have left:</td>
        <td>£<%= (@user.budget).to_f - (Purchase.sum_all).to_f  %></td>
      </tr>
    </table>

    <p>

    <p><a href="/purchases/new" class="new">Create a new purchase</a>
    <p>
    <p><a href="/purchases" class="sort">See all from oldest to newest</a>
    <p><a href="/purchases/reverse" class="sort">See all from newest to oldest</a>

    <p>

      <form action="/purchases/merchant/:merchant" method="get" class="dropdown-content">
        <input type='submit' value="See all from:" class="purchases_filter">
        <select name="merchant_name">
          <% for merchant in @merchants %>
          <option value="<%= merchant.name %>"><%= merchant.name_to_title_case %></option>
          <% end %>
        </select>
      </form>

    <p>
    <form action="/purchases/tag/:tag" method="get" class="dropdown-content">
      <input type='submit' value="See all for:" class="purchases_filter">
      <select name="tag_type">
        <% for tag in @tags %>
        <option value="<%= tag.type %>"><%= tag.type_to_title_case %></option>
        <% end %>
      </select>
    </form>
  </li>
</ul>
