<ul class = "flex-main">
  <li class="flex-info">
    <table>
      <tr>
        <td><span class="title_text">Payee:</span><td>
        <td><%= @purchase.merchant.name_to_title_case %></td>
      </tr>
      <tr>
        <td><span class="title_text">Category:</span></td>
        <td><%= @purchase.tag.type_to_title_case %></td>
      </tr>
      <tr>
        <td><span class="title_text">Amount: £</span></td>
        <td><%= @purchase.amount %></td>
      </tr>
    </table>
  </li>

  <li class="flex-actions">
    <a href="/purchases/<%= @purchase.id %>/edit" class="edit">Edit</a>
      <form action="/purchases/<%= @purchase.id %>/delete" method="post">
        <input type="submit" value="delete" class="delete"/>
      </form>
  </li>
</ul>
