<p>Tag: <%= @purchase.tag.type_to_title_case %></p>
<p>Merchant: <%= @purchase.merchant.name_to_title_case %></p>
<p> Amount: £<%= @purchase.amount %> </p>

<p><a href="/purchases/<%= @purchase.id %>/edit">Edit</a></p>
<p>
  <form action="/purchases/<%= @purchase.id %>/delete" method="post">
  <input type="submit" value="delete" />
  </form>
</p>
