<h3>User Name: <%= @user.name_to_title_case %></h3>
<h3>Budget: £<%= @user.budget %></h3>


<table>
  <tr>
    <th>Budget</th>
    <th>Amount Spent</th>
    <th>Amount Left</th>
  </tr>
  <tr>
    <td>£<%= @user.budget %></td>
    <td>£<%= Purchase.sum_all %></td>
    <td>£<%= (@user.budget).to_f - (Purchase.sum_all).to_f  %></td>
  </tr>
</table>
